/* CSS declarations go here */

.center {
  margin: 0 auto;
}

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    border-radius: 10px;
}



.mdl-layout__header {
  background-color: #529AEF;
}

.mdl-layout__tab-bar {
    width: calc(130% - 112px) !important;
    background-color: #7BB3F5 !important;
}


.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background: #ffffff;
}

.mdl-layout__tab-bar-container .mdl-layout__tab-bar {
    height: 96px !important;
    margin: 0 !important;
    width: calc(130% - 112px) !important;
    padding: 0 0 0 56px !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: rgb(77, 129, 217) !important;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
}

.mdl-layout__tab-bar-button {
    background-color: #5b7fdd !important;
}
