
body {
    background-color: #ffffff !important;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
}

.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 597px;
    background: url(/images/loading_bg.jpg) center / cover;
}

.mdl-card__title-text {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0 auto;
}

.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 2px 16px 16px;
    width: 100%;
}

@media only screen and (max-width: 414px) {
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 610px;
    background: url(/images/welcome-bg.png) center / cover;
    background-position-y: 0px;
}
}

.mdl-card__title-text {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    /* overflow: hidden; */
    /* -webkit-transform-origin: 149px 48px; */
    /* transform-origin: 149px 48px; */
    margin: 29px auto;
    top: 40%;
    position: absolute;
    margin: 8% 14%;
}

.card-badge {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  background-color: #89e819 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

p.school-distance {
    position: absolute;
    right: 9px;
    top: 39%;
    color: #ffffff !important;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 5px;
}

.btn-floating.halfway-fab {
    position: absolute;
    right: 37%;
    bottom: -10px;
}

.card .card-image {
    position: relative;
    height: 94px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.card .card-image .card-title {
    position: absolute;
    bottom: -57px;
    left: -10px;
    max-width: 96%;
    padding: 26px;
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
}

p.school-category {
    top: 1px;
    position: absolute;
    color: #ffffff !important;
    left: 12px;
}

p.school-description {
    margin: 4px 0px 0 -8px !important;
    position: absolute;
    line-height: 16px;
}

p.school-city {
    position: absolute;
    top: 101px;
    right: 9px;
    font-size: 10px;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    min-height: 75px;
}

nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
    FONT-SIZE: 1.3REM;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    POSITION: FIXED;
}

.nav-edit {
   float: right;
}


.mdl-layout__tab-bar {
    height: 96px !important;
    margin: 0 !important;
    width: calc(125% - 112px) !important;
    padding: 0 0 0 56px !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: rgb(63,81,181) !important;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
}


.card-bg {background-color: #EDF4FE;}



.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
img {
    border: 0;
}
audio, canvas, img, svg, video {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.leaderboard {
    margin-top: 31px;
    margin: 26px auto;
    padding: 0;
    color: rgb(37, 37, 37);
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
ul, ol {
    font-size: 14px;
    line-height: 24px;
}
address, ul, ol {
    font-weight: 400;
    letter-spacing: 0;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.mdl-layout {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
}
html, body {
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
@media only screen and (min-width: 0)
html {
    font-size: 14px;
}
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html, body {
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
html {
    color: rgba(0,0,0,.87);
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

ul.pagination {
    color: #313131;
    text-align: -webkit-center;
}

li.page.disabled.current {
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    min-height: 10vh !important;
}
@media only screen and (max-width: 414px) {
.card .card-image img {
    width: 100%;
    height: auto !important;
    padding: 14px 30px 6px !important;
}
}

@media only screen and (min-width: 415px) {
.card .card-image img {
    width: 100%;
    height: auto !important;
    padding: 14px 30px 6px !important;
}

}

@media only screen and (min-width: 768px) {
.card .card-image img {
    width: 100%;
    height: auto !important;
    padding: 14px 30px 6px !important;
}

}
